{% extends 'base.html' %}

{% block content %}
        <h1><div class="mx-auto p-2" style="width: 300px;">{{ page_title }}</div></h1>
        {% include('messages.html') %} 
        <div class="row" >
            <div class="mx-auto p-2" style="width: 300px;">  
                <form action="{{ url_for('user.process_reg') }}" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        {{ form.username.label }}
                        {{ form.username() }}
                    </div>
                    <div class="mb-3">
                        {{ form.email.label }}
                        {{ form.email() }}
                    </div>
                    <div class="mb-3">
                        {{ form.password.label }}
                        {{ form.password() }}
                    </div>
                    <div class="mb-3">
                        {{ form.password2.label }}
                        {{ form.password2() }}
                    </div>
                    {{ form.submit() }}
                </form>
            </div>
{% endblock %}